@font-face {
  font-family: "iconfont"; /* Project id 2762531 */
  src: url('iconfont.woff2?t=1631807671958') format('woff2'),
       url('iconfont.woff?t=1631807671958') format('woff'),
       url('iconfont.ttf?t=1631807671958') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiahao:before {
  content: "\e623";
}

.icon-jiahao1:before {
  content: "\e609";
}

.icon-ziyuan1:before {
  content: "\e615";
}

.icon-shanchu:before {
  content: "\e606";
}

.icon-shanchu1:before {
  content: "\e617";
}

.icon-xinxi:before {
  content: "\e635";
}

.icon-dongtai:before {
  content: "\e64f";
}

.icon-duihuakuang:before {
  content: "\e62f";
}

.icon-dongtai1:before {
  content: "\e629";
}

.icon-wj-jh:before {
  content: "\e70e";
}

.icon-xinxi1:before {
  content: "\e62a";
}

.icon-swticonshezhitianchong:before {
  content: "\e7b4";
}

.icon-xinxi2:before {
  content: "\e613";
}

.icon-dongtai2:before {
  content: "\e605";
}

.icon-shezhi:before {
  content: "\e611";
}

.icon-jihua:before {
  content: "\e61f";
}

.icon-shezhi1:before {
  content: "\e60b";
}

.icon-shezhi01:before {
  content: "\e64b";
}

.icon-zhuanfa:before {
  content: "\e65f";
}

.icon-jiantou:before {
  content: "\e616";
}

.icon-shaohouzaikan:before {
  content: "\e6c0";
}

.icon-huancun:before {
  content: "\e60e";
}

.icon-dianzan:before {
  content: "\e61e";
}

.icon-shoucang:before {
  content: "\e61a";
}

.icon-lishijilu:before {
  content: "\e608";
}

.icon-ziyuan:before {
  content: "\e612";
}

.icon-icon_zuo:before {
  content: "\e64a";
}

.icon-huangguan:before {
  content: "\e680";
}

.icon-chat:before {
  content: "\e9b1";
}

.icon-shouyexuanzhong:before {
  content: "\e67e";
}

